<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <!-- 配置全局变量 -->
  <settings>
  <!--主键自增张  -->
  <setting name='useGeneratedKeys' value='true'/>
      <!-- 使用列名别名替换列名 -->
  
  <setting name="useColumnLabel" value="true"/>
  
  <!--驼峰转换开启  -->
  <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
 
  </configuration>